

/* ===--- GLOBAL STYLES ===--- */

body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Muli', Arial, sans-serif;
	background-color: #eee;
}

*, *:before, *:after {
	box-sizing: inherit;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	margin-bottom: 1rem;
}


/* ===--- NAV BARS ===--- */

.nav-top,
.nav-bottom {
	background: #373a3c;
	color: #fff;
	clear: both;
}

.nav-top {
	padding: 1rem .5rem;

	ul {
		float: right;
		text-align: right;
		color: #fff;
		padding-top: 3px;
		@media (max-width: 450px) {
			float: none;
			text-align: center;
		}

	}

	li {
		display: inline-block;
		padding: 0 5px;
	}
}

.nav-bottom {
	padding: 2rem .5rem;

	li {
		padding: .3rem 0;
		&:first-child {
			padding-left: 0;
		}
		&:last-child {
			padding-right: 0;
		}
	}

	.container {
		max-width: 800px;
	}

	.list-box {
		float: left;
		width: 25%;
		padding-bottom: 1rem;
		@media (max-width: 640px) {
			width: 50%;
		}
		@media (max-width: 450px) {
			display: block;
			width: 100%;
		}
		&:last-child {
			width: 50%;
			@media (max-width: 640px) {
				display: block;
				width: 100%;
			}
		}
	}

	.btn-link {
		width: 270px;
	}
}

.brand-name {
	float: left;
	font-size: 1.25rem;
	@media (max-width: 450px) {
		display: none;
	}
}


/* ===--- GRID ===--- */

.container,
.sales-container {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 15px;
	overflow: auto;
}

.fluid {
	width: 100%;
	padding: 0 15px;
}

.col-50 {
	float: left;
	width: 50%;
	padding: 0 10px;
	margin-bottom: 2rem;
	@media (max-width: 640px) {
		width: 100%;
		float: none;
		padding: 0;
	}
	&:first-child {
		padding-left: 0;
	}
	&:last-child {
		padding-right: 0;
	}
}

.img-fluid {
	display: block;
	max-width: 100%;
	height: auto;
	@media (max-width: 640px) {
		width: 100%;
	}
}


/* ===--- UTILITIES ===--- */

.m-b-1 {
	margin-bottom: 1rem;
}

.breadcrumb {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;

	a:hover {
		color: #3796e8;
	}
}

.thumbnail {
	width: 25%;
	display: inline-block;
	padding: 10px;
	vertical-align: top;
	@media (max-width: 790px) {
		width: 50%;
		padding: 5px;
		padding-bottom: 3rem;
	}

	img {
		width: 100%;
	}
}

.banner-top {
	background: #0275d8;
	color: #fff;
	font-size: 1.2rem;
	text-align: center;
	padding-top: 1rem;
	padding-bottom: 1rem;
	@media (max-width: 640px) {
		display: none;
	}
}

.btn {
	height: 32px;
	padding: .3rem .5rem;
	border: 1px solid black;
	border-radius: 0;
	background: white;
	color: black;
	text-transform: uppercase;
}

.btn-primary {
	width: 49%;
	border: 1px solid #0275d8;
	background: #0275d8;
	color: #fff;	
}

.btn-select {
	width: 49%;
	-webkit-appearance: none;
	&:focus {
		outline: none;
	}
}

.btn-link {
	text-align: center;
	border-radius: 10px;
	height: auto;
	padding: .8rem;
}


/* ===--- PRODUCT PAGE ===--- */

.product-info {
	color: #373a3c;

	h1 {
		text-transform: uppercase;
	}

	p {
		color: #7f7f7f;
	}

	span {
		color: #373a3c;
	}
}

.size-container {
	margin: 0 -1% 1rem;
}

.size-select {
	display: inline-block;
	width: 30%;
	padding: .3rem;
	border: 1px solid black;
	margin: 1%;
	text-align: center;
	background-color: white;
}

.add-to-cart {
	margin-bottom: 1rem;
}

.product-details {
	margin-bottom: 2rem;

	p {
		margin-bottom: .5rem;
	}
}


/* ===--- SALES PAGE ===--- */

.sales-header {
	padding: 2rem 5rem 4rem;

	h1 {
		text-align: center;
	}
}

.sales-container {
	@media (max-width: 1020px) {
		max-width: 760px;
	}
}

.product-row {
	padding: 3rem 0;
}

.product-name {
	height: 2em;
}

.row {
	margin: 0 -20px;
	@media (max-width: 790px) {
		margin: 0 -10px;
	}
}

