.img-fluid {
	display: block;
	max-width: 100%;
	height: auto;
	@media (max-width: 640px) {
		width: 100%;
	}
}

.thumbnail {
	width: 25%;
	display: inline-block;
	padding: 10px;
	vertical-align: top;
	@media (max-width: 790px) {
		width: 50%;
		padding: 5px;
		padding-bottom: 3rem;
	}
	img {
		width: 100%;
	}
}
