// ===--- GLOBAL STYLES ===---

body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: $base-font-size;
	line-height: $base-line/$base-font-size;
	font-family: $font-stack-primary;
	background-color: $color-bg;
}

*, *:before, *:after {
	box-sizing: border-box;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	margin-bottom: 1em;
}

h1 {
	font-size: em(32px);
}
