// ===--- SASS VARIABLES ===---

// Descriptive base colors
$gallery: #eee;
$outer-space: #373a3c;
$science-blue: #0275d8;
$gray: #7f7f7f;
$white: #fff;

// Color uasge
$color-bg: $gallery;
$color-primary: $outer-space;
$color-secondary: $science-blue;

$text-color-primary: $gray;
$text-color-secondary: $white;

// Font stacks
$font-stack-primary: 'Muli', 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Font weights
$font-weight-normal: 300;
$font-weight-bold: 600;

// Base font styles
$base-font-size: 16px;
$base-line: 24px;
