// ===--- PRODUCT PAGE ===--- //

.product-info {
	color: $color-primary;

	h1 {
		text-transform: uppercase;
	}

	p {
		color: $text-color-primary;
	}

	span {
		color: $color-primary;
	}
}

.size-container {
	margin: 0 -1% 1rem;
}

.size-select {
	display: inline-block;
	width: 30%;
	padding: .3rem;
	border: 1px solid black;
	margin: 1%;
	text-align: center;
	background-color: white;
}

.add-to-cart {
	margin-bottom: 1rem;
}

.product-details {
	margin-bottom: 2rem;

	p {
		margin-bottom: .5rem;
	}
}
